<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/home-styles.css">
        <title>Mercado Liebre</title>
    </head>

    <body>
        
        <header class="cabecera">

            <div class="top-bar">

                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado liebre">
                </div>

                <form class="search-bar" action="" method="post">
                    <input type="text" placeholder="Buscar productos, marcas y más" name="search">
                    <button type="submit"><span class="fa-solid fa-magnifying-glass"></span></button>
                </form>

                <div class="header-top-message">
                    <p>Comprá en cuotas y sin tarjeta de crédito</p>
                    <span class="fa-solid fa-hand-holding-dollar"></span>
                </div>

            </div>

            <nav class="main-nav">
                
                <ul class="nav-bar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="login-bar">
                    <li>
                        <a href="register">Creá tu cuenta</a>
                        <span class="fa-regular fa-address-card"></span>
                    </li>
                    <li>
                        <a href="login">Ingresá</a>
                        <span class="fa-solid fa-right-to-bracket"></span>
                    </li>
                    <li>
                        <a href="#">Mis compras</a>
                        <span class="fa-solid fa-basket-shopping"></span>
                    </li>
                </ul>
            </nav>

            <div class="burger-menu">
                <span class="fa-solid fa-bars"></span>
            </div>
            
            <div class="banner">
                <img src="/images/img-home-banner.jpg" alt="Banner de página">
            </div>

        </header>

        <main class="main-section">
            <section>

                <header>
                    <h3 class="titulares">Basado en tu última visita</h3>
                </header>

                <div class="section-productos">

                    <article class="productos">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                        
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
    
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$6.770</h5>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
    
                    </article>
    
                    <article class="productos">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro">
                        
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
                            
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$230.000</h5>
                                <p class="descuentos">20% OFF</p>
                            </div>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </article>
    
                    <article class="productos">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$70.500</h5>
                                <p class="descuentos">10% OFF</p>
                            </div>
                            <h4 class="descripciones">Samsung Galaxy S10</h4>
                        </div>
                    </article>
    
                    <article class="productos">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$23.200</h5>
                                <p class="descuentos">5% OFF</p>
                            </div>
                            <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
                

            </section>

            <!--Sección N°2-->

            <section>

                <header>
                    <h3 class="titulares">Ofertas</h3>
                </header>

                <div class="section-productos">

                    <article class="productos">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                        
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
    
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$6.770</h5>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
    
                    </article>
    
                    <article class="productos">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro">
                        
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
                            
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$230.000</h5>
                                <p class="descuentos">20% OFF</p>
                            </div>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </article>
    
                    <article class="productos">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$70.500</h5>
                                <p class="descuentos">10% OFF</p>
                            </div>
                            <h4 class="descripciones">Samsung Galaxy S10</h4>
                        </div>
                    </article>
    
                    <article class="productos">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                        <div class="productos-datos">
                            <span class="fa-sharp fa-solid fa-truck"></span>
                            <div class="productos-precios-descuentos">
                                <h5 class="precios">$23.200</h5>
                                <p class="descuentos">5% OFF</p>
                            </div>
                            <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>

        </main>

        <footer class="main-footer">

            <div class="container-articulos-footer">
                <section class="articulo-footer">
                    <span class="fa-solid fa-credit-card icons-footer"></span>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
    
                <section class="articulo-footer">  
                    <span class="fa-solid fa-gift icons-footer"></span>  
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>    
    
                <section class="articulo-footer">   
                    <span class="fa-solid fa-user-shield icons-footer"></span>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section> 
            </div>  

            <section>
                <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
            </section>

        </footer>
    </body>
</html>